@import '../utils/variables';

.cardimportexport {
    display: flex;
    width: 100%;
    height: 100%;
    .cardimportexport-image {
        flex: 1;
        position: relative;
        .importexportlogo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .cardimportexport-overlay {
            position: absolute;
            top: 0;
            right: 0;
            width: 110px;
            height: 110px;
            background-color: rgb(253, 253, 253);
            border-radius: 50%;
            margin-right: -3.4rem;
            margin-top: 2rem;
            background-image: url('/selo.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    .cardimportexport-text {
        flex: 2;
        padding: 3rem 6rem;
        background-color: $primary-color;
        color: #fff;
        display: flex;
        flex-direction: column;
        .cardimportexport-text-p {
            line-height: 1.5;
        }
        h1 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        .info-section {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            margin-top: 3rem;
            .info-item {
                display: flex;
                width: 100%;
                align-items: center;
                gap: 2rem;
                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: baseline;
                }
                .title-info-content {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 7px;
                }
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $secondary-color;
                    border-radius: 50%;
                    background-color: $primary-color;
                    padding: 1rem;
                    color: $secondary-color;
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        .cardimportexport-image,
        .cardimportexport-text {
            width: 100%;
            height: auto;
        }
        .cardimportexport-text {
            padding: 1.5rem;
            .info-section {
                grid-template-columns: 1fr;
            }
        }
    }
}
