@import '../utils/variables';

.pimenta {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 6rem 1rem;
    .pimenta-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 12px;
        }
        .pimenta-img {
            border-top-right-radius: 55px;
            border-bottom-right-radius: 55px;
            max-width: 50%; 
            height: auto;
            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
        .pimenta-text {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1.5rem;
            h1 {
                font-size: 1.6rem;
                font-weight: 700;
            }
            p {
                max-width: 34ch;
                .bold {
                    font-weight: 700;
                }
            }
            .pimenta-marker {
                background-color: $primary-color;
                padding: .4rem;
                color: #fff;
                border-left: 10px solid $secondary-color;
                .doyouknow {
                    font-size: 1.2rem;
                    margin-bottom: 15px;
                }
            }
        }
    }
}