@import '../utils/variables';

.contact {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .contact-container {
        margin: 8rem 0;
        padding: 0 1rem;

        display: flex;
        gap: 25px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .contact-text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1;
            .title {
              .title-contact {
                font-size: 18px;
                font-weight: 800;
                color: #441C1C;
              }
              .p-contact {
                font-size: 14px;
                color: #999;
                margin: 10px 0;
              }
            }
        
            .info {
              display: flex;
              align-items: center;
              margin-top: 20px;
        
              i {
                font-size: 30px;
                color: #02434b;
                margin-right: 15px;
              }
        
              h4 {
                font-size: 13px;
                span {
                  display: block;
                  font-size: 13px;
                  color: #999;
                }
              }
            }
          }
    
      .contact-form {
        flex: 1;
        form {
          .form-row {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 10px;
    
            .form-group {
              flex: 1;
    
              &.full-width {
                flex: none;
                width: 100%;
              }
            }
          }
    
          .form-control {
            padding: 15px;
            font-size: 14px;
            background: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-bottom: 15px;
            width: 100%;
            input {
              font-family: 'Montserrat', sans-serif;
            }
          }
    
          textarea {
            height: 150px;
            resize: none;
            font-family: 'Montserrat', sans-serif;
          }
    
          .btn {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            background: #DBA55D;
            color: #fff;
            font-size: 16px;
            letter-spacing: 2px;
            border: none;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
          }
        }
      }
    }
}
