@import '../utils/variables';

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    .headertop {
        width: 100%;
        background-color: $primary-color;
        .headertopsize {
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            padding: .5rem 1.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-contact {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                @media (max-width: 768px) {
                    gap: .8rem;
                }
                .header-contact-link-left, .header-contact-link-right {
                    a {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        color: #fff;
                        p {
                            color: #fff;
                            @media (max-width: 768px) {
                                display: none;
                            }
                        }
                    }
                }
                .divider-header-contact {
                    color: #fff;
                }
            }
            .header-socialmedia {
                display: flex;
                align-items: center;
                gap: .7rem;
                a {
                    color: #fff;
                    font-size: 1.3rem;
                }
            }
        }
    }
    .headerbottom {
        width: 100%;
        background-color: #fff;
        .headerbottomsize {
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            padding: .5rem 1.2rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-logo-links {
                display: flex;
                align-items: center;
                gap: 4rem;
                .header-nav-links {
                    ul {
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        li {
                            &:nth-child(1) {
                                text-decoration: underline;
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                            a {
                                color: $primary-color;
                                font-weight: 600;
                                font-size: 1.1rem;
                                
                            }
                        }
                    }
                }
            }
            .header-logo-flags {
                display: flex;
                align-items: center;
                gap: .5rem;
                @media (max-width: 768px) {
                    display: none;
                }
                img {
                    cursor: pointer;
                }
            }
            .menu-hamburger {
                cursor: pointer;
                padding: 5px;
                margin-bottom: 5px;
                border-radius: 10px;
                z-index: 10;
                display: none;
                position: absolute;
                right: 15px;
                z-index: 999;
                @media (max-width: 768px) {
                    display: block;
                }
                &.open {
                    right: 0;
                }
                span {
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto 0px auto;
                    transition: all 0.3s ease-in-out;
                    background-color: #000000;
                }
            }
        }
    }
}