.cardhome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cardhome .cardhome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  gap: 1rem;
  margin-top: -5rem;
  z-index: 10;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardhome .cardhome-container .divider-card {
  width: 5px;
  height: 50px;
  display: block;
  margin: 0 10px;
  background-color: #441C1C;
}
.cardhome .cardhome-container .card-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.4rem;
}
.cardhome .cardhome-container .card-unit .card-unit-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cardhome .cardhome-container .card-unit .card-unit-header h2 {
  font-size: 1.3rem;
}
.cardhome .cardhome-container .card-unit .card-unit-header span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  background-color: #441C1C;
  padding: 0.2rem;
  border-radius: 30px 30px;
}
.cardhome .cardhome-container .card-unit p {
  text-align: center;
  margin: 0.6rem 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.container .container-size {
  margin: 6rem 0;
  padding: 0 1rem;
}
.container .container-size .timeline-header-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.container .container-size .timeline-header-desc {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.container .container-size #timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  transition: all 0.4s ease;
}
.container .container-size #timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #441C1C;
  left: 50%;
  top: 0;
  position: absolute;
}
.container .container-size #timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
.container .container-size #timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.container .container-size #timeline .timeline-item:after, .container .container-size #timeline .timeline-item:before {
  content: "";
  display: block;
  clear: both;
}
.container .container-size #timeline .timeline-item .timeline-icon {
  background: #441C1C;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -19px;
  border-radius: 50%;
}
.container .container-size #timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 10px;
  left: 10px;
}
.container .container-size #timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.container .container-size #timeline .timeline-item .timeline-content:before {
  content: "";
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #441C1C;
}
.container .container-size #timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #441C1C;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
}
.container .container-size #timeline .timeline-item .timeline-content p {
  margin-top: 12px;
}
.container .container-size #timeline .timeline-item .timeline-content.right {
  float: right;
}
.container .container-size #timeline .timeline-item .timeline-content.right:before {
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #441C1C;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: left;
  }
  #timeline .timeline-item .timeline-content:before,
  #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #441C1C;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
.video {
  width: 100%;
  height: 45vh;
  position: relative;
  background-image: url("/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 4rem 0;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 28, 28, 0.6);
  z-index: 1;
}
.video .video-size {
  position: relative;
  max-width: 900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.video .video-size .video-text {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.video .video-size .video-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.video .video-size .video-text p {
  font-size: 1rem;
  max-width: 45ch;
  margin-bottom: 5px;
}
.video .video-size .video-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  border: 3px dotted #fff;
  padding: 1rem 1.3rem;
  border-radius: 50%;
}

.video-play-button {
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  margin-top: 5rem;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #441C1C;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #441C1C;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #200d0d;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.cardimportexport {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.cardimportexport .cardimportexport-image {
  flex: 1;
  position: relative;
}
.cardimportexport .cardimportexport-image .importexportlogo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardimportexport .cardimportexport-image .cardimportexport-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 110px;
  background-color: rgb(253, 253, 253);
  border-radius: 50%;
  margin-right: -3.4rem;
  margin-top: 2rem;
  background-image: url("/selo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cardimportexport .cardimportexport-text {
  flex: 1;
  padding: 3rem 6rem;
  background-color: #441C1C;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.cardimportexport .cardimportexport-text .cardimportexport-text-p {
  line-height: 1.5;
  margin: 10px 0;
}
.cardimportexport .cardimportexport-text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.cardimportexport .cardimportexport-text .info-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-top: 3rem;
}
.cardimportexport .cardimportexport-text .info-section .info-item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.cardimportexport .cardimportexport-text .info-section .info-item .title-info-content {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 7px;
}
.cardimportexport .cardimportexport-text .info-section .info-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DBA55D;
  border-radius: 50%;
  background-color: #441C1C;
  padding: 1rem;
  color: #DBA55D;
}
.cardimportexport .cardimportexport-text .info-section .info-item .icon svg {
  width: 40px;
  height: 40px;
}
@media (max-width: 768px) {
  .cardimportexport {
    flex-direction: column;
  }
  .cardimportexport .cardimportexport-image,
  .cardimportexport .cardimportexport-text {
    width: 100%;
    height: auto;
  }
  .cardimportexport .cardimportexport-text {
    padding: 1.5rem;
  }
  .cardimportexport .cardimportexport-text .info-section {
    grid-template-columns: 1fr;
  }
}

.pimenta {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 1rem;
}
.pimenta .pimenta-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.pimenta .pimenta-info .imgs-pimenta {
  position: relative;
}
.pimenta .pimenta-info .imgs-pimenta .pimenta-all-img {
  position: absolute;
  bottom: -70px;
  right: -50px;
  z-index: 1;
  width: 200px;
  border-radius: 50%;
  border: 3px solid #441C1C;
}
.pimenta .pimenta-info .imgs-pimenta .pimenta-img {
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
}
.pimenta .pimenta-info .pimenta-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pimenta .pimenta-info .pimenta-text h1 {
  font-size: 1.6rem;
  font-weight: 700;
}
.pimenta .pimenta-info .pimenta-text p {
  max-width: 34ch;
}
.pimenta .pimenta-info .pimenta-text p .bold {
  font-weight: 700;
}
.pimenta .pimenta-info .pimenta-text .pimenta-marker {
  background-color: #441C1C;
  padding: 0.4rem;
  color: #fff;
  border-left: 10px solid #DBA55D;
}
.pimenta .pimenta-info .pimenta-text .pimenta-marker .doyouknow {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.container-call {
  height: 45vh;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .headertop {
  width: 100%;
  background-color: #441C1C;
}
header .headertop .headertopsize {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .headertop .headertopsize .header-contact {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .headertop .headertopsize .header-contact .header-contact-link-left a, header .headertop .headertopsize .header-contact .header-contact-link-right a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}
header .headertop .headertopsize .header-contact .header-contact-link-left a p, header .headertop .headertopsize .header-contact .header-contact-link-right a p {
  color: #fff;
}
header .headertop .headertopsize .header-contact .divider-header-contact {
  color: #fff;
}
header .headertop .headertopsize .header-socialmedia {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
header .headertop .headertopsize .header-socialmedia a {
  color: #fff;
  font-size: 1.3rem;
}
header .headerbottom {
  width: 100%;
  background-color: #fff;
}
header .headerbottom .headerbottomsize {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerbottom .headerbottomsize .header-logo-links {
  display: flex;
  align-items: center;
  gap: 4rem;
}
header .headerbottom .headerbottomsize .header-logo-links .header-nav-links ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
header .headerbottom .headerbottomsize .header-logo-links .header-nav-links ul li:nth-child(1) {
  text-decoration: underline;
}
header .headerbottom .headerbottomsize .header-logo-links .header-nav-links ul li:hover {
  text-decoration: underline;
}
header .headerbottom .headerbottomsize .header-logo-links .header-nav-links ul li a {
  color: #441C1C;
  font-weight: 600;
  font-size: 1.1rem;
}
header .headerbottom .headerbottomsize .header-logo-flags {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .headerbottom .headerbottomsize .header-logo-flags img {
  cursor: pointer;
}

main {
  background-image: url("/agrovale2.JPG");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  position: relative;
}
main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(68, 28, 28, 0.6);
  z-index: 1;
}
main .main_size {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main_size .main_text {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}
main .main_size .main_text h1 {
  font-size: 3rem;
}
main .main_size .main_text p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
main .main_size .main_button {
  padding: 0.7rem 1.2rem;
  background-color: #DBA55D;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.team {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 1rem;
}
.team .team-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.team .team-info .team-img {
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
}
.team .team-info .team-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.team .team-info .team-text h1 {
  font-size: 1.6rem;
  font-weight: 700;
}
.team .team-info .team-text p {
  max-width: 34ch;
}
.team .team-info .team-text p .bold {
  font-weight: 700;
}
.team .team-info .team-text .team-marker {
  background-color: #441C1C;
  padding: 0.4rem;
  color: #fff;
  border-left: 10px solid #DBA55D;
}

.contact {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.contact .contact-container {
  margin: 8rem 0;
  padding: 0 1rem;
  display: flex;
  gap: 25px;
}
@media (max-width: 768px) {
  .contact .contact-container {
    flex-direction: column;
  }
}
.contact .contact-container .contact-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.contact .contact-container .contact-text .title .title-contact {
  font-size: 18px;
  font-weight: 800;
  color: #441C1C;
}
.contact .contact-container .contact-text .title .p-contact {
  font-size: 14px;
  color: #999;
  margin: 10px 0;
}
.contact .contact-container .contact-text .info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.contact .contact-container .contact-text .info i {
  font-size: 30px;
  color: #02434b;
  margin-right: 15px;
}
.contact .contact-container .contact-text .info h4 {
  font-size: 13px;
}
.contact .contact-container .contact-text .info h4 span {
  display: block;
  font-size: 13px;
  color: #999;
}
.contact .contact-container .contact-form {
  flex: 1;
}
.contact .contact-container .contact-form form .form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.contact .contact-container .contact-form form .form-row .form-group {
  flex: 1;
}
.contact .contact-container .contact-form form .form-row .form-group.full-width {
  flex: none;
  width: 100%;
}
.contact .contact-container .contact-form form .form-control {
  padding: 15px;
  font-size: 14px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
}
.contact .contact-container .contact-form form .form-control input {
  font-family: "Montserrat", sans-serif;
}
.contact .contact-container .contact-form form textarea {
  height: 150px;
  resize: none;
  font-family: "Montserrat", sans-serif;
}
.contact .contact-container .contact-form form .btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: #DBA55D;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #441C1C;
}
footer .footer-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1.2rem;
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-top {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem 3rem 0.5rem;
}
footer .footer-container .footer-top .footer-top-img {
  width: 130px;
  margin-bottom: auto;
}
footer .footer-container .footer-top .footer-top-contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
footer .footer-container .footer-top .footer-top-contact h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
footer .footer-container .footer-top .footer-top-contact .footer-top-contact-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}
footer .footer-container .footer-top .footer-top-contact .footer-top-contact-link p {
  color: #fff;
}
footer .footer-container .footer-top .footer-top-links-page {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
footer .footer-container .footer-top .footer-top-links-page h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
footer .footer-container .footer-top .footer-top-links-page ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .footer-container .footer-top .footer-top-links-page ul li a {
  color: #fff;
}
footer .footer-container .footer-top .footer-top-links-page ul li a:hover {
  text-decoration: underline;
}
footer .footer-container .footer-top .footer-top-social {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: auto;
}
footer .footer-container .footer-top .footer-top-social a {
  color: #fff;
  font-size: 1.5rem;
}
footer .footer-container .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 2rem 0.5rem;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
footer .footer-container .footer-bottom a {
  color: #fff;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  text-decoration: none;
}

body {
  background-color: #ffffff;
}/*# sourceMappingURL=main.css.map */